DB_HOST=aws-1-ap-southeast-1.pooler.supabase.com
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres.wwdbaumckfopeirrsgup
DB_PASSWORD=bebas11223344556
SUPABASE_DB_URL=postgresql://postgres.wwdbaumckfopeirrsgup:bebas11223344556@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres
